#corpo {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

#pagehtml {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

#pagejs {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

#pagehardware {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}
#pagepython {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}
